* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* efecto de scroll hacia un lugar de la pagina */
    scroll-behavior: smooth;
}


.container1 {
    padding: 20px;
    background: #59f;
    font-size: 20px;
    letter-spacing: 5px;
}
#content {
    background: red;
    /* propiedad para que el usuario no pueda seleccionar texto */
    user-select: none;
}

.container1 {
    padding: 20px;
    background: #59f;
    font-size: 20px;
    letter-spacing: 10px;
}
.container {
    padding: 20px;
    background: #59f;
    font-size: 20px;
    /* direction es como un text-align  */
    /* direction: ltr; */
    direction: rtl;
}
